<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:macro name="omni_2024_gazebo">
        <gazebo>
            <plugin filename="libgz_ros2_control-system.so" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
                <parameters>$(find gazebo_simulator)/config/controller_omni_2024.yaml</parameters>
            </plugin>
        </gazebo>

        <gazebo>
            <plugin
                filename="libgz-sim-pose-publisher-system.so"
                name="gz::sim::systems::PosePublisher">
                <publish_link_pose>true</publish_link_pose>
                <publish_model_pose>true</publish_model_pose>
                <use_pose_vector_msg>true</use_pose_vector_msg>
                <update_frequency>50</update_frequency>
            </plugin>
        </gazebo>
    </xacro:macro>
</robot>
