<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="arm_1">

  <link name="base_link"/>

  <joint name="body_joint" type="fixed">
    <parent link="base_link"/>
    <child  link="body_link"/>
    <origin xyz="0 0 0.05" rpy="0 0 ${radians(90)}"/>
  </joint>
  <link name="body_link">
    <visual>
      <geometry>
        <mesh filename="meshes/entyu.stl" scale="1 1 1"/>
      </geometry>
      <material name="gray"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="meshes/entyu.stl" scale="1 1 1"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="2.0"/>
      <inertia ixx="0.01" ixy="0" ixz="0" iyy="0.01" iyz="0" izz="0.01"/>
    </inertial>
  </link>



  <!-- ros2_control plugin config (keep velocity interfaces compatible with existing controllers) -->
  <ros2_control name="GazeboSystem" type="system">
    <hardware>
      <plugin>gz_ros2_control/GazeboSimSystem</plugin>
    </hardware>

    <joint name="moter1">
      <command_interface name="velocity"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>

  </ros2_control>

  <gazebo>
    <plugin filename="libgz_ros2_control-system.so" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
    </plugin>
  </gazebo>

  <gazebo>
    <plugin
      filename="libgz-sim-pose-publisher-system.so"
      name="gz::sim::systems::PosePublisher">
      <publish_link_pose>true</publish_link_pose>
      <publish_model_pose>true</publish_model_pose>
      <use_pose_vector_msg>true</use_pose_vector_msg>
      <update_frequency>50</update_frequency>
    </plugin>
  </gazebo>

</robot>
