<?xml version="1.0" ?>
<robot name="omuni_nakamura_v9" xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:property name="robot_name" value="$(arg robot_name)"/>

<xacro:include filename="$(find gazebo_simulator)/models/${robot_name}/urdf/materials.xacro" />

<xacro:include filename="$(find gazebo_simulator)/models/${robot_name}/urdf/${robot_name}.trans" />

<link name="base_link">
  <inertial>
    <origin xyz="4.044445588762326e-17 0.0 0.0025" rpy="0 0 0"/>
    <mass value="14.122150000000003"/>
    <inertia ixx="0.423238" iyy="0.423238" izz="0.846418" ixy="0.0" iyz="0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://omuni_nakamura_v9/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="_"/>
  </visual>
  <collision>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://omuni_nakamura_v9/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>


<!-- ros2_control plugin config (keep velocity interfaces compatible with existing controllers) -->
<ros2_control name="GazeboSystem" type="system">
  <hardware>
    <plugin>gz_ros2_control/GazeboSimSystem</plugin>
  </hardware>


</ros2_control>

<gazebo>
  <plugin filename="libgz_ros2_control-system.so" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
    <parameters>$(find gazebo_simulator)/config/controller_${robot_name}.yaml</parameters>
  </plugin>
</gazebo>

<gazebo>
  <plugin
    filename="libgz-sim-pose-publisher-system.so"
    name="gz::sim::systems::PosePublisher">
    <publish_link_pose>true</publish_link_pose>
    <publish_model_pose>true</publish_model_pose>
    <use_pose_vector_msg>true</use_pose_vector_msg>
    <update_frequency>50</update_frequency>
  </plugin>
</gazebo>

</robot>
